.overview1 {
  padding-left: 1px;
}

.overview1 h4 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.top {
  background-color: burlywood;
}

.top th {
  width: 18%;
}

.bottom td {
  border: 1px solid #000000;
}

button {
  background-color: #0080ff;
  margin-top: 1%;
  color: #000000;
  border: none;
}

button:hover {
  background-color: royalblue;
}
