.heading {
  display: grid;
  grid-template-columns: 190px 73.2% 180px;
  height: 130px;
  width: 100%;
  background-color: burlywood;
}

.heading img {
  width: 98%;
  height: 128px;
}

.heading-titles {
  background-color: burlywood;
  display: grid;
  grid-template-rows: repeat(2, 64px);
}

.title-above {
  text-align: center;
  border-bottom: 1px solid white;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}

.title-below {
  display: grid;
  grid-template-columns: repeat(2, auto);
}

.title-start {
  border-right: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  padding-left: 10px;
}

.title-end {
  text-align: end;
  border-right: 1px solid #ffffff;
  padding-right: 10px;
}
