.home {
  display: grid;
  grid-template-columns: 230px 55% 300px;
  padding-top: 30px;
}

.pickers {
  display: grid;
  grid-template-rows: repeat(2, 120px);
  padding-left: 10px;
}

.featured-auction-bold {
  font-weight: bold;
}
