<div class="home">
  <div class="pickers">
    <div class="date-pick">
      <div class="date-pick-title"><h4>Pick a date:</h4></div>
      <div class="date-pick-box"><input type="date"></div>
    </div>
    <div class="category-pick">
      <div class="category-pick-title"><h4>Pick a category:</h4></div>
      <div class="category-pick-list">
        <ul>
          <li><a href="#">Antiques</a></li>
          <li><a href="#">Cars</a></li>
          <li><a href="#">Event Tickets</a></li>
          <li><a href="#">Holidays</a></li>
          <li><a href="#">Collectables</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="expiring-auctions">
    <div class="expiring-auctions-title"><h4>Auctions that expire today:</h4></div>
    <div class="expiring-auctions-images">
      <a href="https://www.the-saleroom.com/en-gb/search-results?searchterm=scale+model">
        <img alt="Scale model" src="../../../../assets/images/3.jpg">
      </a>
      <a href="https://www.sothebys.com/en/departments/books-manuscripts">
        <img alt="Novel" src="../../../../assets/images/4.jpg">
      </a>
      <a href="https://www.rbauction.nl/2019-yuni-d1000dc-260-gallon-fuel-tank-with-pump-tank-unused?invId=11585107&id=ci&auction=sacramento-ca-2019269">
        <img alt="260 gallon tank" src="../../../../assets/images/5.jpg">
      </a>
      <a href="https://www.ebay.com/b/Concrete-Grinders/55811/bn_7115828865">
        <img alt="Concrete grinder" src="../../../../assets/images/6.jpg">
      </a>
      <a href="https://www.the-saleroom.com/en-gb/search-sideboard">
        <img alt="Antiques and collectibles" src="../../../../assets/images/7.jpg">
      </a>
    </div>
  </div>
  <div class="featured-auction">
    <div class="featured-auction-title"><h4>Original Race Truck Paris-Dakar</h4></div>
    <div class="featured-auction-description">
      <p>
        A unique object for sale! The truck of team 'Gerard De Rooy' that has competed in the Paris-Dakar
        race of 2017 and finished at 3rd position. The truck will be delivered inclusive of some &euro; 10,000
        worth of spare parts.
        <br><br><span class="featured-auction-bold">Engine:</span> IVECO Cusor, 13 liter
        <br><span class="featured-auction-bold">Power:</span> 900 Hp, 4x4 transmission
        <br><br><span class="featured-auction-bold">Highest Bid:</span> &euro; 87,000
        <br><span class="featured-auction-bold">Auction closes at 18:00 GMT today!</span>
      </p>
    </div>
  </div>
</div>
