<section>
  <div class="pickers">
    <div class="datepicker">
      <h3><b>Pick a date:</b></h3>
      <input type="date">
    </div>
    <div class="categorypicker">
      <h3><b>Pick a category:</b></h3>
      <ul>
        <li><a href="#"><b>Antiques</b></a></li>
        <li><a href="#"><b>Cars</b></a></li>
        <li><a href="#"><b>Event Tickets</b></a></li>
        <li><a href="#"><b>Holidays</b></a></li>
        <li><a href="#"><b>Collectables</b></a></li>
      </ul>
    </div>
  </div>
  <div>
    <div class="expire-title">
      <h2><b>Auctions that expire today:</b></h2>
    </div>
    <div class="expire-images">
      <div><a href="https://www.classiccar-auctions.com/"><img class="expired-image" src="../../../../assets/images/old_timer.jpg"></a></div>
      <div><a href="https://www.ebay.com/b/Computer-Graphics-Cards/27386/bn_661796"><img class="expired-image" src="../../../../assets/images/gpu.jpg"></a></div>
      <div><a href="https://bid.oahuauctions.com/Wooden-Ship-s-Wheel-28-5-Dia_i33822690"><img class="expired-image" src="../../../../assets/images/ship_wheel.jpg"></a></div>
    </div>
  </div>
  <div class="news">
    <div class="news-title">
      <h2><b>Original Barret M82</b></h2>
    </div>
    <div class="news-text">
      <p>A unique object for sale! The Barret M82 which was used by the one and only John Wick. The weapon will be delivered inclusive of some 10,000 bucks worth of spare parts.</p>
    </div>
    <div class="news-info">
      <p class="newsinfop"><b>Description:</b></p>
      <p>Fifty-seven inches long, twenty-nine-inch barrel</p>
      <p class="newsinfop"><b>Weight:</b></p>
      <p> 28.44 pounds</p>
    </div>
    <div class="news-bid">
      <p class="newsinfop"><b>Highest Bid:</b></p>
      <p>€8.700</p>
      <p><b>Auction closes at 19:15 GMT tomorrow!</b></p>
    </div>
  </div>
</section>
