.nav-bar {
  background-color: burlywood;
  margin-top: 1px;
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: 45% 30%;
  grid-column-gap: 25%;
  line-height: 35px;
  height: 40px;
}

.ul-1 {
  display: grid;
  line-height: 35px;
  grid-template-columns: repeat(4, auto);
  list-style: none;
  background-color: burlywood;
  text-align: center;
  padding-left: 1px;
  height: 40px;
}

.ul-2 {
  display: grid;
  grid-template-columns: repeat(2, auto);
  list-style: none;
  background-color: burlywood;
  text-align: center;
  padding-left: 1px;
  height: 40px;
}

.nav-bar li {
  background-color: sienna;
}

.nav-bar-first-li:hover, .nav-bar-link:hover, .nav-dropdown:hover {
  background-color: peru;
}

.nav-bar a {
  color: white;
}

.nav-bar-first-li {
  border-left: 1px solid burlywood;
}

.nav-bar li {
  border-right: 1px solid burlywood;
}

.nav-bar a:hover {
  text-decoration: none;
  display: block;
}

.nav-dropbtn {
  background-color: sienna;
  width: 100%;
  color: #ffffff;
  border: none;
}

.nav-dropdown {
  position: relative;
  display: inline-block;
}

.nav-dropdown-content-1 {
  display: none;
  position: absolute;
  background-color: sienna;
  min-width: 150%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.nav-dropdown-content-1 a {
  color: #ffffff;
  padding: 6px 12px;
  text-decoration: none;
  display: block;
  border: 1px solid burlywood;
}

.nav-dropdown-content-1 a:hover {
  background-color: peru;
}

.nav-dropdown:hover .nav-dropdown-content-1 {display: block;}


.nav-dropdown-content {
  display: none;
  position: absolute;
  background-color: sienna;
  min-width: 100%;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.nav-dropdown-content a {
  color: #ffffff;
  padding: 6px 12px;
  text-decoration: none;
  display: block;
  border: 1px solid burlywood;
}

.nav-dropdown-content a:hover {
  background-color: peru;
}

.nav-dropdown:hover .nav-dropdown-content {display: block;}
