<div id="container">
  <nav>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">My Offers</a></li>
      <li><a href="#">My Bids</a>
        <!-- First Tier Drop Down -->
        <ul>
          <li><a href="#">Active</a></li>
          <li><a href="#">History</a></li>
        </ul>
      </li>
      <li><a href="#">My Account</a></li>
      <div class="navbar-right">
        <li><a href="#">Sign Up</a></li>
        <li><a href="#">Log In</a></li>
      </div>
    </ul>
  </nav>
</div>
